<configuration>
    <!-- Console Appender with Human-Readable, Colorized Format -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %red(%d{ISO8601}) %highlight(%-5level) [%magenta(%t)] %yellow(%logger{36}) [%green(correlation-id:%X{correlation-id})] [%yellow(user-id:%X{user-id})]: %msg%n%throwable
            </Pattern>
            <charset>UTF-8</charset>
        </layout>
    </appender>

    <!-- File Appender with JSON Format -->
    <appender name="fileJsonAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.json</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <version/>
                <message/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <logLevelValue/>
                <stackTrace/>
                <context/>
                <jsonMessage/>
                <mdc/>
                <tags/>
                <logstashMarkers/>
                <arguments/>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileJsonAppender"/>
    </root>
</configuration>
